<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Data user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Data User </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item (click)="logout()">
      <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
    <ion-button
      type="button"
      [routerLink]="['/user-tambah']"
      routerLinkActive="router-link-active"
      color="success"
      expand="block"
      >Tambah User</ion-button
    >
  </ion-list>
  <ion-list>
    <ion-list-header>List Data Pelanggan</ion-list-header>
  </ion-list>
  <ion-card lines="inset" *ngFor="let user_value of user">
    <ion-item>
      <ion-item name="person" slot="start"><ion-img src="https://img.icons8.com/color/96/null/collaborator-male-skin-type-2.png" style="width : 30% ; height : 100%"></ion-img>      
      <ion-label>{{ user_value.nama }}</ion-label>
      </ion-item>
      <ion-button
        color="primary"
        slot="end"
        [routerLink]="['/user-edit/',user_value.id]"
        routerLinkActive="router-link-active"
        ><ion-img src="https://img.icons8.com/3d-plastilina/69/null/pencil--v1.png" style="width : 100% ; height : 100%"></ion-img></ion-button>
        <ion-button
        color="danger"
        slot="end"
        (click)="deleteUser(user_value.id)"
        ><ion-img src="https://img.icons8.com/fluency/48/null/delete-forever.png" style="width : 100% ; height : 100%"></ion-img></ion-button>
    </ion-item>
  </ion-card>


</ion-content>


  
